@{
    ViewBag.Title = "Index";
}

<h2>Welcome to AMS Company Vehicle</h2>

<ul>
    
    @{
        if(Request.IsAuthenticated){
            @Html.ActionLink("Logout","Logout","Account") <br/>
            @Html.ActionLink("Register Account","Register","Account")
        }        
    }

</ul>
