
<h2>Fleet Management Web Application</h2>

<ul>
    
    @{
        if(Request.IsAuthenticated){
            @Html.ActionLink("Logout","Logout","Account") <br/>
            @Html.ActionLink("Register Account","Register","Account")
        }        
    }

</ul>

@section scripts{
    <script>
        $(window).on('load', function () {
            
        })
    </script>
}
