@Model TestingApp.Controllers;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table border="1">

    <thead>
        <tr>
            
        </tr>
    </thead>
    <tbody>
        @{
            
            foreach (System.Data.DataRow row in Model.Rows)
            {
                
            }
            
        }
    </tbody>

</table>