@model WebApp.Models.tbl_tokens

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_loginLayout.cshtml";
}

<div class="wrapper-page">

    <div class="text-center">
        <a href="/" class="logo logo-lg"><i class="ti-truck"></i> <span>Online FASTrax</span> </a>
    </div>

    @if (ViewData.ModelState[""] != null && ViewData.ModelState[""].Errors.Count() > 0)
    {
        <div class="alert alert-danger alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            @Html.ValidationSummary(true)
        </div>
    }
    
    @if (ViewBag.isExpired != null && ViewBag.isExpired == true)
    {
        <form action="/" method="post">
            <h4 class="text-center">Password Reset</h4>
            <div class="alert alert-danger">
                <strong>Oh snap!</strong> Your request to reset your password has <b>expired</b> already! Please set a new one.
            </div>
            <div class="form-group m-t-30">
                <div class="col-sm-12">
                    <a href="/" class="text-muted" id="back">
                        <i class="fa fa-key m-r-5"></i> Go back to the homepage.
                    </a>
                </div>
            </div>
        </form>
    }
    else if (ViewBag.isValid != null && !ViewBag.isValid)
    {
        <form action="/" method="post">
            <h4 class="text-center">Password Reset</h4>
            <div class="alert alert-danger">
                <strong>404! </strong> Internal Server Error: Invalid request token!
            </div>
            <div class="form-group m-t-30">
                <div class="col-sm-12">
                    <a href="/" class="text-muted" id="back">
                        <i class="fa fa-key m-r-5"></i> Go back to the homepage.
                    </a>
                </div>
            </div>
        </form>
    }
    else if(ViewBag.isUsed != null && ViewBag.isUsed == true){
        <form action="/" method="post">
            <h4 class="text-center">Password Reset</h4>
            <div class="alert alert-danger">
                This request has already been completed. Please make a new one.
            </div>
            <div class="form-group m-t-30">
                <div class="col-sm-12">
                    <a href="/" class="text-muted" id="back">
                        <i class="fa fa-key m-r-5"></i> Go back to the homepage.
                    </a>
                </div>
            </div>
        </form>
    }
    else
    {
        <form class="form-horizontal m-t-20" method="post" action="/Account/PasswordReset?" novalidate data-parsley-validate id="reset-password-form">
            @Html.AntiForgeryToken()
            <h4 class="text-center">Lost Password</h4>
            
            <div class="alert alert-success alert-dismissable user-notif" style="display:none;">
                @*<button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>*@
                <span>content</span>
            </div>

            <div id="forget-password-form">

                <div class="form-group">
                    <div class="col-xs-12">
                        <input type="password" data-val="true" data-parsley-minlength="6"  data-val-required="Password Required" id="new-password" name="npassword" class="form-control" placeholder="Enter new password" required autofocus>
                        <i class="md md-lock-outline form-control-feedback l-h-34"></i>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <input data-parsley-equalto="#new-password" type="password" required="" placeholder="Confirm password" class="form-control" id="new-password2">
                        <i class="md md-lock-outline form-control-feedback l-h-34"></i>
                        <span class="help-block"><small>Please enter your desired new password. After that, you will be able to log in normally.</small></span>
                    </div>
                </div>

                <div class="form-group text-right m-t-20">
                    <div class="col-xs-12">
                        <a class="submit-form btn btn-primary btn-custom w-md waves-effect waves-light" id="reset-password">
                            Continue
                        </a>
                    </div>
                </div>

                <input type="hidden" name="user_id" value="@Model.user_id" />
                <input type="hidden" name="token" value="@Model.token" />

                <div class="form-group m-t-30">
                    <div class="col-sm-7">
                        <a href="/" class="text-muted" id="back">
                            <i class="fa fa-key m-r-5"></i> Go back to the homepage.
                        </a>
                    </div>
                </div>
            </div>

        </form>
    }
</div>

@section scripts{
    <script>

        $(document).on('click', '#reset-password', function (e) {

            e.preventDefault();
            e.stopImmediatePropagation();

            $form = $('#reset-password-form');
            $form.parsley().validate();

            var $notifContainer = $('.user-notif');

            if ($form.parsley().isValid()) {

                $loadJsonResult("/Account/PasswordReset?", new FormData($form[0]), function (response) {

                    if (response.isSuccess) {
                        $('#forget-password-form').hide();
                        $('.user-notif').removeClass('alert-danger');
                        $('.user-notif').addClass('alert-success');
                        $('.user-notif span').html("You have change you successfully!");
                        $notifContainer.fadeIn();
                    } else {
                        $('.user-notif').removeClass('alert-success');
                        $('.user-notif').addClass('alert-danger');
                        $('.user-notif span').html(response.message);
                        $notifContainer.fadeIn();
                    }

                });

            }

        });
    </script>
}