/* Dashboard css hack */

.circliful {
    position: relative; 
}

.circle-text, .circle-info, .circle-text-half, .circle-info-half {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
}

.circle-info, .circle-info-half {
	color: #999;
}

.circliful .fa {
	margin: -10px 3px 0 3px;
	position: relative;
	bottom: 4px;
}

/* Dashboard css end */

/* Tag input css */

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 4px 6px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  max-width: 100%;
  line-height: 22px;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 6px;
  margin: 0;
  width: auto;
  max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #777;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #777;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: none;
}
.bootstrap-tagsinput .tag {
  margin-right: 2px;
  color: white;
}
.bootstrap-tagsinput .tag [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .tag [data-role="remove"]:after {
  content: "x";
  padding: 0px 2px;
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover {
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.bootstrap-tagsinput .tag [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

/* */

.text-search {
    position: relative;
    margin: 15px 20px 15px 10px;
}

.text-search .form-control, .text-search .form-control:focus {
    border: none;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.6);
    padding-left: 20px;
    padding-right: 40px;
    background: rgba(117, 117, 117, 0.1);
    box-shadow: none;
    border-radius: 30px;
    height: 30px;
    width: 180px;
}

.text-search a {
    position: absolute;
    top: 5px;
    right: 20px;
    color: rgba(130, 130, 130, 0.7);
}

.control-label .required {
    color: #e02222 !important;
    font-size: 12px !important;
    padding-left: 2px !important;
}

#uploadBtn {
    opacity: 0;
    top: 0;
    position: absolute;
    cursor: pointer;
}

/* custombox */

.custom-modal-text {
    text-align: left !important;
    padding: 1px !important;
    padding-top: 20px !important;
}

.custombox-modal-container {
    margin-top: 8% !important;
}

/* sweetalert */

.sweet-overlay {
    z-index: 100000 !important;
}

.sweet-alert {
    z-index: 9999999 !important;
}