<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Fleet Management">
    <meta name="author" content="Automotive Management Services">

    <link rel="shortcut icon" href="../../Content/theme/images/favicon.ico" type="image/x-icon">

    <title>404 - Online FASTrax</title>

    <link href="../../Content/theme/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../../Content/theme/css/core.css" rel="stylesheet" />
    <link href="../../Content/theme/css/components.css" rel="stylesheet" />
    <link href="../../Content/theme/css/icons.css" rel="stylesheet" />
    <link href="../../Content/theme/css/pages.css" rel="stylesheet" />
    <link href="../../Content/theme/css/menu.css" rel="stylesheet" />
    <link href="../../Content/theme/css/responsive.css" rel="stylesheet" />

</head>
<body>

    @RenderBody()

    <script src="../../Content/theme/js/jquery.min.js"></script>
    <script src="../../Content/theme/js/bootstrap.min.js"></script>
    <script src="../../Content/theme/js/detect.js"></script>
    <script src="../../Content/theme/js/fastclick.js"></script>
    <script src="../../Content/theme/js/jquery.blockUI.js"></script>
    <script src="../../Content/theme/js/waves.js"></script>
    <script src="../../Content/theme/js/wow.min.js"></script>

    <script src="../../Content/theme/js/jquery.nicescroll.js"></script>
    <script src="../../Content/theme/js/jquery.scrollTo.min.js"></script>

    <script src="../../Content/theme/js/jquery.core.js"></script>
    <script src="../../Content/theme/js/jquery.app.js"></script>

</body>
</html>
