@{
    var activeProject = ((Request.Cookies["activeProject"] != null) ? Request.Cookies["activeProject"].Value : null);
}
<div class="breadcrumb-container row">
    <ol class="breadcrumb">
        <li><a href="/Home/Index?active_project=@activeProject">Home</a></li>
        <li><a href="/Dealers">Dealers</a></li>
        <li class="">List</li>
        <li class="breadcrumb-action">
            <a data-toggle="tooltip" data-placement="left" data-original-title="Create new supplier" href="#" class="btn btn-success waves-effect waves-light m-b-5" id="add-new-dealer">Add</a>
            <a style="display:none;" data-toggle="tooltip" data-placement="left" data-original-title="Update new supplier" href="#" class="btn btn-success waves-effect waves-light m-b-5" id="update-dealer">Apply Changes</a>
            <button style="display:none;" data-toggle="tooltip" data-placement="left" data-original-title="Refresh to revert changes" type="button" class="btn btn-default waves-effect m-b-5" id="refresh-dealer"><i class="fa fa-refresh"></i></button>
        </li>
    </ol>
</div>

<div class="row">
    <div class="col-sm-12" id="dealerTableCont">
        
        <div class="card-box table-responsive">
            <h4 class="m-t-0 header-title"><b>Dealer's Table</b></h4>
            <p class="text-muted font-13 m-b-30">
                List of equipment suppliers
            </p>
            <div class="row">
                <div class="col-sm-12">
                    @Html.Partial("dealersTable")
                </div>
            </div>
        </div>

    </div>

    <div class="" id="dealerInfoContainer"></div>
</div>

@section scripts{
    <script src="~/Scripts/datatables/datatables.init.js"></script>
    <script src="~/Scripts/app/dealers.js"></script>

    <script>

        $(function () {
            
            TableManageButtons.init("with_export_btn");

        })

    </script>

}